<h1>Edit Fruit:</h1>
<%= form_tag "/fruits/#{@fruit.id}", method: :patch do %>
  <div class = "form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, @fruit.name  %>
  </div>
  <div class = "form-group">
    <%= label_tag :price  %>
    <%= text_field_tag :price, @fruit.price   %>
  </div>
  <div class = "form-group">
    <%= label_tag :image  %>
    <%= text_field_tag :image, @fruit.image %>
  </div>
  <div class = "form-group">
    <%= label_tag :description  %>
    <%= text_field_tag :description, @fruit.description  %>
  </div>
  <div class = "form-group">
    <%= label_tag :availability  %>
    <%= text_field_tag :availability, @fruit.availability  %>
  </div>
  <div class = "form-group">
    <%= label_tag :supplier_id  %>
    <%= text_field_tag :supplier_id, @fruit.supplier_id %>
  </div>
  <div class = "form-group">
    <%= submit_tag "Update fruit" %>
  </div>
<a href = "/fruits/<%= @fruit.id %>"><p> cancel </p></a>
<a href="/fruits">Back to all fruits</a>
<% end %>