<h1> Fruits available for purchase: </h1>
<% @fruits.each_slice(4) do |three_fruits| %>
<div class = "row">
  <% three_fruits.each do |fruit| %>
    <div class ="col-md-3">
    <div class ="well">
    <a href="/fruits/<%= fruit.id %>"><h2> <%= fruit.name.capitalize %> </a> </h2> 
    <p> <%= fruit.available_or_not%> </p>
    <h3><%= fruit.price %> </h3>
    <h3> <img src = "<%= fruit.image %>"> <br><br> <%= fruit.description.capitalize %> </h3>
    <a href="/fruits/<%= fruit.id %>/edit">Edit this fruit</a>
    <br>
    </div>
</div>
<% end %>
</div>
<% end %>

<div>
<h2><a href="/fruits/new">Create new fruit</a></h2>
</div>
