<h2><%= @fruit.name.capitalize %></h2>
<p><%=@fruit.available_or_not%></p>
<p><%= number_to_currency(@fruit.total) %> (<%= number_to_currency(@fruit.price) %> + <%= number_to_currency(@fruit.tax) %> tax)</p>
<p><%= @fruit.sale_message %></p>

<% if @fruit.images %>
<% @fruit.images.each do |image| %>
<p><img src = "<%= image.url %>" width="200"></p>
<% end %>
<% end %>

<p><%= @fruit.description %> </p>

<h5> Categories:  </h5>
<% if @fruit.categories %>
<% @fruit.categories.each do |category| %>
<p> <%= category.name %> <br> </p>
<% end %>
<% end %>

<p><%= link_to "New image", "/fruits/#{@fruit.id}/images/new", class: "btn btn-success"%></p>
<p><%= link_to "Edit first image", "/fruits/#{@fruit.id}/images/edit", class: "btn btn-success"%></p>
<p>Supplier: <%= @fruit.supplier.name %> </p>

<%= form_tag "/carted_fruits", method: :post do %>
<div class = "form-group">
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
</div>
<div class = "form-group">
    <%= label_tag :fruit_id %>
    <%= hidden_field_tag :fruit_id, params["id"] %>
</div>
<div class = "form-group">
  <%= submit_tag "Add to Cart", class: "btn btn-success" %>
</div>

<% end %>
 
<a href="/fruits">Back to all fruits</a>
<br>
<a href="/fruits/<%= @fruit.id %>/edit">Edit this fruit</a>
</div>
<div>
<a href="/fruits/new">Create new fruit</a>
</div>
<br>
<div>
  <%= link_to "Delete this fruit", "/fruits/#{@fruit.id}", method: :delete %>
</div>