<h2><%= @fruit.name.capitalize %></h2>
<p><%= @fruit.total %> (<%= @fruit.price %> + <%= @fruit.tax %> tax)</p>
<p><%= @fruit.sale_message %></p>
<p><img src = "<%= @fruit.image %>" width="200"></p>
<p><%= @fruit.description %> </p>
<div>
<a href="/fruits">Back to all fruits</a>
<br>
<a href="/fruits/<%= @fruit.id %>/edit">Edit this fruit</a>
</div>
<div>
<a href="/fruits/new">Create new fruit</a>
</div>
<br>
<div>
  <%= link_to "Delete this fruit", "/fruits/#{@fruit.id}", method: :delete %>
</div>